In [1]:
import pandas as pd

In [2]:
# Retrieve HTML table data
url = 'https://www.basketball-reference.com/leagues/NBA_2019_per_game.html'
html = pd.read_html(url, header = 0)
df2019 = html[0]

# Data cleaning
raw = df2019.drop(df2019[df2019.Age == 'Age'].index)
raw

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,528,Tyler Zeller,C,29,MEM,4,1,20.5,4.0,7.0,...,.778,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
730,529,Ante Žižić,C,22,CLE,59,25,18.3,3.1,5.6,...,.705,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
731,530,Ivica Zubac,C,21,TOT,59,37,17.6,3.6,6.4,...,.802,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
732,530,Ivica Zubac,C,21,LAL,33,12,15.6,3.4,5.8,...,.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
733,530,Ivica Zubac,C,21,LAC,26,25,20.2,3.8,7.2,...,.733,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

## Data Cleaning

In [3]:
raw.shape

(708, 30)

In [5]:
# Cek data yang bolong
raw.isnull().sum()

Rk         0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        6
3P         0
3PA        0
3P%       47
2P         0
2PA        0
2P%       15
eFG%       6
FT         0
FTA        0
FT%       43
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

## Mengganti missing value dengan angka 0

In [8]:
df = raw.fillna(0)
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

In [9]:
# Cek data yang bolong lagi
df.isnull().sum()

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

## Hapus kolom RK

In [10]:
df.drop(columns="Rk", inplace=True)
df.shape

(708, 29)

## Menyimpan df menjadi csv

In [11]:
df.to_csv("nba2019.csv", index=False)

# -- EDA --

In [12]:
df = pd.read_csv("nba2019.csv")
df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,0.357,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,0.222,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,0.345,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,0.595,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,0.576,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

## Melihat dan menampilkan semua kolom

In [13]:
pd.set_option('display.max_columns', df.shape[1]+1)
df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,0.357,1.3,4.1,0.323,0.5,1.0,0.500,0.487,0.4,0.4,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,0.222,0.2,1.5,0.133,0.2,0.3,0.667,0.278,0.7,1.0,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,0.345,0.7,2.2,0.338,0.4,1.1,0.361,0.459,0.2,0.3,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,0.595,0.0,0.0,0.000,6.0,10.1,0.596,0.595,1.8,3.7,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,0.576,0.0,0.2,0.200,3.4,5.7,0.588,0.579,2.0,2.8,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

## Melihat masing-masing type data kolom

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  708 non-null    object
 1   Pos     708 non-null    object
 2   Age     708 non-null    int64
 3   Tm      708 non-null    object
 4   G       708 non-null    int64
 5   GS      708 non-null    int64
 6   MP      708 non-null    float64
 7   FG      708 non-null    float64
 8   FGA     708 non-null    float64
 9   FG%     708 non-null    float64
 10  3P      708 non-null    float64
 11  3PA     708 non-null    float64
 12  3P%     708 non-null    float64
 13  2P      708 non-null    float64
 14  2PA     708 non-null    float64
 15  2P%     708 non-null    float64
 16  eFG%    708 non-null    float64
 17  FT      708 non-null    float64
 18  FTA     708 non-null    float64
 19  FT%     708 non-null    float64
 20  ORB     708 non-null    float64
 21  DRB     708 non-null    float64
 22  TRB     708 non-null    float64
 23  AST     708 non-null    float64
 24  STL     708 non-null    float64
 25  BLK     708 non-null    float64
 26  TOV     708 non-null    float64
 27  PF      708 non-null    float64
 28  PTS     708 non-null    float64
dtypes: float64(23), int64(3), object(3)
memory usage: 160.5+ KB

## Menampilkan spesifik berdasarkan type data

In [15]:
# hanya menampilkan type data number
df.select_dtypes(include="number").head()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,25,31,2,19.0,1.8,5.1,0.357,1.3,4.1,0.323,0.5,1.0,0.500,0.487,0.4,0.4,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,28,10,0,12.3,0.4,1.8,0.222,0.2,1.5,0.133,0.2,0.3,0.667,0.278,0.7,1.0,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,22,34,1,12.6,1.1,3.2,0.345,0.7,2.2,0.338,0.4,1.1,0.361,0.459,0.2,0.3,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,25,80,80,33.4,6.0,10.1,0.595,0.0,0.0,0.000,6.0,10.1,0.596,0.595,1.8,3.7,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,21,82,28,23.3,3.4,5.9,0.576,0.0,0.2,0.200,3.4,5.7,0.588,0.579,2.0,2.8,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

In [16]:
# hanya menampilkan type data object atau kategori
df.select_dtypes(include=["object"]).head()

         Player Pos   Tm
0  Álex Abrines  SG  OKC
1    Quincy Acy  PF  PHO
2  Jaylen Adams  PG  ATL
3  Steven Adams   C  OKC
4   Bam Adebayo   C  MIA

## QUESTIONS
### Conditional Selection
In performing exploratory data analysis, it is important to be able to select subsets of data to perform analysis or comparisons.

Which player scored the most Points (PTS) Per Game? Here, we will return the entire row.

In [19]:
# melihat data yang pts-nya paling tinggi(max)
filt = df["PTS"] == df["PTS"].max()
df.loc[filt]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
267,James Harden,PG,29,HOU,78,78,36.8,10.8,24.5,0.442,4.8,13.2,0.368,6.0,11.3,0.528,0.541,9.7,11.0,0.879,0.8,5.8,6.6,7.5,2.0,0.7,5.0,3.1,36.1

Further question, what team is the player from?

In [22]:
# melihat darimana team player yang memiliki pts paling tinggi
df.loc[filt][["Player", "Tm"]]

           Player   Tm
267  James Harden  HOU

Which position is the player playing as?

In [23]:
# melihat posisi plater yang memiliki PTS paling tinggi
df.loc[filt][["Player", "Pos"]]

           Player Pos
267  James Harden  PG

How many games did the player played in the season?

In [25]:
# melihat banyaknya pemain tersebut bermain di satu season
df.loc[filt][["Player", "G"]]

           Player   G
267  James Harden  78

Which player scored more than 20 Points (PTS) Per Game?

In [29]:
# melihat data yang memiliki pts diatas 20
df.loc[df["PTS"] > 20][["Player", "Pos", "Age", "Tm", "G", "PTS"]]

                    Player Pos  Age   Tm   G   PTS
7        LaMarcus Aldridge   C   33  SAS  81  21.3
19   Giannis Antetokounmpo  PF   24  MIL  72  27.7
47            Bradley Beal  SG   25  WAS  82  25.6
68            Devin Booker  SG   22  PHO  64  26.6
103           Jimmy Butler  SG   29  MIN  10  21.3
143            Mike Conley  PG   31  MEM  70  21.1
159          Stephen Curry  PG   30  GSW  69  27.3
161          Anthony Davis   C   25  NOP  56  25.9
174          DeMar DeRozan  SG   29  SAS  77  21.2
181            Luka Dončić  SG   19  DAL  72  21.2
191           Kevin Durant  SF   30  GSW  78  26.0
200            Joel Embiid   C   24  PHI  64  27.5
240            Paul George  SF   28  OKC  77  28.0
261          Blake Griffin  PF   29  DET  75  24.5
267           James Harden  PG   29  HOU  78  36.1
274          Tobias Harris  PF   26  LAC  55  20.9
290            Buddy Hield  SG   26  SAC  82  20.7
298           Jrue Holiday  SG   28  NOP  67  21.2
321           Kyrie Irving  PG   26  BOS  67  23.8
332           LeBron James  SF   34  LAL  55  27.4
353           Nikola Jokić   C   23  DEN  80  20.1
388            Zach LaVine  SG   23  CHI  63  23.7
397          Kawhi Leonard  SF   27  TOR  60  26.6
401         Damian Lillard  PG   28  POR  80  25.8
445            CJ McCollum  SG   27  POR  70  21.0
469       Donovan Mitchell  SG   22  UTA  77  23.8
554          Julius Randle  PF   24  NOP  73  21.4
573       D'Angelo Russell  PG   22  BRK  81  21.1
643          Klay Thompson  SG   28  GSW  78  21.5
647     Karl-Anthony Towns   C   23  MIN  77  24.4
661         Nikola Vučević   C   28  ORL  80  20.8
665           Kemba Walker  PG   28  CHO  82  25.6
667              John Wall  PG   28  WAS  32  20.7
675      Russell Westbrook  PG   30  OKC  73  22.9

Which player had the highest 3-Point Field Goals Per Game (3P) ?

In [31]:
# melihat pemain yang memiliki 3P paling tinggi
df.loc[df["3P"] == df["3P"].max()][["Player", "Pos", "Tm", "3P"]]

            Player Pos   Tm   3P
159  Stephen Curry  PG  GSW  5.1

Which player had the highest Assists Per Game (AST) ?

In [32]:
# melihat pemain yang meiliki nilai AST paling tinggi
df.loc[df["AST"] == df["AST"].max()]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
675,Russell Westbrook,PG,30,OKC,73,73,36.0,8.6,20.2,0.428,1.6,5.6,0.29,7.0,14.5,0.481,0.468,4.1,6.2,0.656,1.5,9.6,11.1,10.7,1.9,0.5,4.5,3.4,22.9